[
    {
        "name": "${name}-task-definition",
        "image": "${image}",
        "essential": true,
        "readonlyRootFilesystem": true,
        "mountPoints": [
            {
                "sourceVolume": "tmp-volume",
                "containerPath": "/tmp",
                "readOnly": false
            },
            {
                "sourceVolume": "api-profiles-volume",
                "containerPath": "/home/agentuser/api_profiles",
                "readOnly": false
            }
        ],
        "user": "0",
        "environment": [
            {
                "name": "ACCOUNT_ID",
                "value": "${account_id}"
            },
            {
                "name": "AGENT_ID",
                "value": "${agent_id}"
            },
            {
                "name": "MATILLION_REGION",
                "value": "${matillion_region}"
            },
            {
                "name": "CLOUD_PROVIDER",
                "value": "AWS"
            },
            {
                "name": "EXPORT_LOGS",
                "value": "${export_logs}"
            }
            %{ if matillion_environment != "" },{ "name": "MATILLION_ENV", "value": "${matillion_environment}" }%{ endif }
            %{ if proxy_http != "" },{ "name": "PROXY_HTTP", "value": "${proxy_http}" }%{ endif }
            %{ if proxy_https != "" },{ "name": "PROXY_HTTPS", "value": "${proxy_https}" }%{ endif }
            %{ if proxy_excludes != "" },{ "name": "PROXY_EXCLUDES", "value": "${proxy_excludes}" }%{ endif }
            %{ if custom_cert_location != "" },{ "name": "CUSTOM_CERT_LOCATION", "value": "${custom_cert_location}" }%{ endif }
            %{ if extension_library_location != "" },{ "name": "EXTENSION_LIBRARY_LOCATION", "value": "${extension_library_location}" }%{ endif }
            %{ if external_driver_location != "" },{ "name": "EXTERNAL_DRIVER_LOCATION", "value": "${external_driver_location}" }%{ endif }
        ],
        "secrets":[
            {
                "name": "OAUTH_CLIENT_ID",
                "ValueFrom": "${agent_secret_arn}:client_id::"
            },
            {
                "name": "OAUTH_CLIENT_SECRET",
                "ValueFrom": "${agent_secret_arn}:client_secret::"
            }
        ],
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-group": "${log_group}",
                "awslogs-region": "${region}",
                "awslogs-stream-prefix": "/ecs"
            }
        },
        "versionConsistency": "${version_consistency}"
    }
]
