{{- if and (eq (.Values.cloudProvider | upper) "AWS") (.Values.aws.local.enabled) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "matillion-agent.fullname" . }}-aws-local
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  aws-region: {{ .Values.aws.local.region | b64enc }}
  aws-access-key-id: {{ .Values.aws.local.accessKeyId | b64enc }}
  aws-secret-access-key: {{ .Values.aws.local.secretAccessKey | b64enc }}
{{- end }}