{{- if and (eq (.Values.cloudProvider | upper) "AZURE") (.Values.azure.servicePrincipal.enabled) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "matillion-agent.fullname" . }}-azure-sp
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  client-id: {{ .Values.azure.servicePrincipal.clientId | b64enc }}
  client-secret: {{ .Values.azure.servicePrincipal.clientSecret | b64enc }}
  tenant-id: {{ .Values.azure.servicePrincipal.tenantId | b64enc }}
{{- end }}