{{- if .Values.modules.prometheus.enabled | default .Values.prometheus.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "prometheus.fullname" . }}-config
  labels:
  {{- include "prometheus.labels" . | nindent 4 }}
data:
  prometheus.yml: {{ .Values.config.prometheusYml | toYaml | indent 1 }}
{{- end }}