{{- if .Values.modules.prometheus.enabled | default .Values.prometheus.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "prometheus.fullname" . }}-pod-list
  labels:
  {{- include "prometheus.labels" . | nindent 4 }}
rules:
- apiGroups:
  - "*"
  resources:
  - pods
  - services
  - endpoints
  - configmaps
  - nodes
  verbs:
  - get
  - list
  - watch
{{- end }}