{{- if .Values.modules.adapter.enabled | default .Values.adapter.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "prometheus.fullname" . }}-adapter
  labels:
  {{- include "prometheus.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.adapter.serviceAccount.annotations | nindent 4 }}
{{- end }}
{{- if .Values.modules.prometheus.enabled | default .Values.prometheus.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "prometheus.fullname" . }}
  labels:
  {{- include "prometheus.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.prometheus.serviceAccount.annotations | nindent 4 }}
{{- end }}