# Name for the ECS Fargate cluster
name = "my-agent"

# Matillion DPC
account_id       = "your-matillion-account-id"
agent_id         = "your-agent-id"
matillion_region = "eu1"
client_id        = "your-client-id"
client_secret    = "your-client-secret"

# Agent resources
desired_count = 2
agent_cpu     = 1024
agent_memory  = 4096

# AWS
region                      = "eu-west-1"
use_existing_vpc            = true
use_existing_subnet         = false
use_existing_security_group = false
vpc_id                      = "vpc-xxxxxxxxx"
subnet_ids                  = []
security_group_ids          = []
assign_public_ip            = true

# Optional ephemeral storage size in GiB
ephemeral_storage_size = 40

# Optional: Resource tags
tags = {
  "Category" = "Development"
  "SBU"      = "Support"
  "Owner"    = "user@example.com"
}
